<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b9cf35b5bd.js"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Rock, Paper, Scissors :: {{title}}</title>
</head>
<body>
<header><h1>Rock, Paper, Scissors</h1>
    <p><i class="far fa-hand-rock"></i><i class="far fa-hand-paper"></i><i class="far fa-hand-scissors"></i></p>
<div class='menu-buttons'> <a class='btn-playgame' href="/index">PLAY A FRIEND</a>
    <a class='btn-playgame' href="/play">PLAY THE COMPUTER</a>
</div>
</header>


    {% block content %}



    {% endblock %}

</body>
</html>