{% extends 'base.html' %}
{% block content %}
<main>
<!-- <form action="/index" method='post'> -->
<form action="">
    <p><label class='label' for="player1">Player 1 Name:</label><input type="text" id='player1_name'>
   <label for="player1_choice"></label>
    <select name="player1_choice" id="player1_choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
    </select>
    </p>

    <p><label class='label' for="player2">Player 2 Name:</label><input type="text" id='player2_name'>
    <label for="player2_choice"></label>
    <select name="player2_choice" id="player2_choice">
        <option class='select' value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
    </select>
    </p>

    <p><input class='button' type="submit" value="PLAY GAME"></p>
</form>
</main>

<footer>
    <div class='menu-buttons'> <a class='btn-playgame' href="/instructions">INSTRUCTIONS</a>
    </div>
</footer>

{% endblock %}