{% extends 'base.html' %}

{% block content %}

<main>
<h2>Rules of the Game</h2>

<h3>Two Players</h3>

<ol>
    <li>Player 1 enter your name in the text box.</li>
    <li>Choose what move you want to play.</li>
    <li>Player 2 enter your name in the text box.</li>
    <li>Choose what move you want to play.</li>
    <li>Click Play</li>
    <li>The winner will be displayed.</li>
</ol>


<h3>One Player vrs the Computer</h3>

<ol>
    <li>Player 1 enter your name in the text box.</li>
    <li>Choose what move you want to play.</li>
    <li>Click Play</li>
    <li>The computer will randomly choose a move and the winner will be displayed.</li>
</ol>


<h3>Who Wins?</h3>

<ul>
    <li>Paper beats Rock</li>
    <li>Rock beats Scissors</li>
    <li>Scissors beats Paper </li>
</ul>
</main>

{% endblock %}